*.blend1
/scripts/*.txt
/houds/geo/*
/houds/backup/*
/poster_figs/
/4-THREAD/
*blendcache_*
/fiigures/
/blends/cP_weaves/apdl/*
/blends/cP_weaves/slices/*
/blends/cP_weaves/stills/*
/blends/cP_weaves/meshes/*
/blends/cP_weaves/wbs/*
/cura_exports/*


